<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <p id="notice"></p>
      <%= render 'genre_index', genres: @genres %>
    </div>

    <div class='col-md-8 offset-md-1'>
      <p id="notice"></p>
        <h3>ようこそ、ながのCAKEへ！
このサイトは、ケーキ販売のECサイトになります。
会員でない方も商品の閲覧はできますが、
購入には会員登録が必要になります。</h3>

      <h2>新着商品</h2>
      <%#= render 'items/index', items: @items%>
      <%#= paginate @itemss %>
    </div>
  </div>
</div>