<!--<div class="container">-->
<!--  <div class="row">-->
<h2>Admin::Homes#top [注文履歴一覧]</h2>
<!--<table class="table table-hover table-inverse">-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>購入日時</th>-->
<!--      <th>購入者</th>-->
<!--      <th>注文個数</th>-->
<!--      <th>注文ステータス</th>-->
      <!--<th colspan="3"></th>-->
<!--    </tr>-->
<!--  </thead>-->
<!--    <tbody>-->
<!--    <#% @orders.each do |order| %>-->
<!--  <tr>-->
   <!--ここから下にそれぞれの購入日時→注文履歴詳細に飛ぶ、
<!--   購入者、購入個数、購入ステータスが表示させるコードを記述。-->-->
<!--   <td>-->
<!--    <#%= link_to current_admin., admin_order_path(order.admin) %>-->



<!--   </td>-->

<!--   <td>-->
<!--   <#%= order.-->
<!--   </td>-->

<!--   <td>-->
<!-- 　<#%= order.order_details.amount %>-->
<!--   </td>-->

<!--   <td>-->

<!--   </td>-->
<!--    </tr>-->
    
<!--  </tbody>-->
<!--</table>-->


